<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>

<body>
  <h1>Welcom to my website </h1>
  <h2>
    <%=["hritik","bhawna","hemant","sumant","jayant"][2] %>
  </h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi officiis illo accusantium labore! Id consequatur ab
    voluptas dolore mollitia aliquid iusto ad recusandae cumque, fugiat minus omnis molestiae non magnam!</p>
</body>

</html>